@model Warehouse.Webapp.Models.ProductViewModel
@{
    ViewData["Title"] = "Product List";
    
}

<div class="table">
    <table method="post" style="width:100%" class="table table-bordered table-hover">
        <tr>
            <p><a asp-controller="Product" asp-action="CreateProduct"><button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Create New Product</button></a></p>
            <p><a asp-controller="Product" asp-action="DeleteProduct"><button class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3">Delete Existing Product</button></a></p>
        </tr>
        
        <tr>
            <th>Productname</th>
            <th>Product Description</th>
            <th>Quantity</th>
            <th>Add</th>
            <th>Reduce</th>
        </tr>
                
                    @foreach (var product in ViewBag.Products)
                    {
    <tr>
        <th>
            @product.ProductName
        </th>

        <th>
            @product.ProductDescription
        </th>

        <th>
            @product.ProductQuantity
        </th>

        <th>
            @using (Html.BeginForm("AddQuantity", "Product", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.AddQuantity)
                <input type="hidden" value="@product.ProductID" asp-for="@Model.ProductID"/>
                <p><input type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" value=" + " /></p>
            }
        </th>

        
        <th>
            @using (Html.BeginForm("ReduceQuantity", "Product", FormMethod.Post))
            {
                @Html.TextBoxFor(m => m.ReduceQuantity)
                <input type="hidden" value="@product.ProductID" asp-for="@Model.ProductID" />
                <p><input type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-3" value=" - " /></p>
            }
        </th>
    </tr>


                     }  
    </table>
</div>



